[Unit]
Description=your_website.com
After=network.target

[Service]
ExecStart=/path/to/bin/node main.js
Restart=always
User=your_username
WorkingDirectory=/home/your_username/my-app-directory/

[Install]
WantedBy=default.target
